  <form id="update-{{place.id}}" class="update-place form-group" style="display:none">
  <input class="form-control" type="text" name="place[name]" value="{{place.name}}">
  <input class="form-control" type="text" name="place[address]" value="{{place.address}}">
  <textarea name="place[description]" class="form-control" rows="10">{{place.description}}</textarea>
  <input type="submit" name="submit" value="Submit">
  </form>