$full-page-height: 100vh;
$max-width: 700px;
$custom-padding: 1rem;

#landing {
  min-height: $full-page-height;
  max-width: $max-width;
  padding-top: 30vh;
  h1 {
    font-size: 10vh
  }
  p {
    font-size: 2.5vh;
  }
}

.pad-bottom {
  padding-bottom: $custom-padding;
}
