$full-page-height: 100vh;
$max-width: 700px;
$custom: 1.6rem;

#landing {
  min-height: $full-page-height;
  max-width: $max-width;
  padding-top: 30vh;
  h1 {
    font-size: 10vh
  }
  p {
    font-size: 2.5vh;
  }
}

.pad-bottom {
  padding-bottom: $custom;
}

.pad-top {
  padding-top: $custom;
}

.m-top {
  margin-top: 3rem;
}

.heading {
  height: 7.5vh;
}